 <!-----META SECTION----->
 <!DOCTYPE html>
 <html>
 <head>
 <title>Parichit's Portfolio</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="Css/style.css">
 </head>
 <body>
    <!-----MENU SECTION------>
<div class="main-panel">
    <div class="container">
      <div class="width-33 logo">Port <span class="span-col">folio</span>
      </div>
      <div class="width-66">
        <nav>
           
            <a href="/">Home</a>
            <a href="about">About me</a>
            <a href="projects">Projects</a>
            <a href="services">My Services</a>
            <a href="contact">Contact Us</a>
        </nav>
      </div>
    </div>
    <!------SKILL SECTION------>
<div class="main-section">
    <div class="container">
      <h2 class="heading-text">My services</h2>
      <div class="width-50">
        <div class="skill">
          <b>HTML</b>
          <span>7</span>
          <div>
            <span style="width:70%"></span>
          </div>
        </div>
        <div class="skill">
          <b>CSS</b>
          <span>6</span>
          <div>
            <span style="width:60%"></span>
          </div>
        </div>
        <div class="skill">
          <b>JavaScript</b>
          <span>5</span>
          <div>
            <span style="width:50%"></span>
          </div>
        </div>
        <div class="skill">
          <b>React js</b>
          <span>3</span>
          <div>
            <span style="width:30%"></span>
          </div>
        </div>
      </div>
      <div class="width-50">
        <div class="width-50">
          <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="10" style="--value:70">Html 70</div>
        </div>
        <div class="width-50">
          <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="--value:60">CSS 60</div>
        </div>
        <div class="width-50">
          <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50">JS 50</div>
        </div>
        <div class="width-50">
          <div role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="--value:30">Node-JS 30</div>
        </div>
      </div>
    </div>
  </div>
</body>