 <!DOCTYPE html>
 <html>
 <head>
 <title>Parichit's Portfolio</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="Css/style.css">
 </head>
 <body>

  <div class="main-panel">
    <div class="container">
      <div class="width-33 logo">Port <span class="span-col">folio</span>
      </div>
      <div class="width-66">
        <nav>
           <!-----Inserting links ------>
            <a href="/">Home</a>
            <a href="about">About me</a>
            <a href="projects">Projects</a>
            <a href="services">My Services</a>
            <a href="contact">Contact Us</a>
        </nav>
      </div>
    </div>
  <!-----Creating divs and class------>
<div class="main-section">
  <div class="container">
    <h2 class="heading-text">My Services</h2>
    <div class="width-50">
      <div class="service-list">
        <i class="fa fa-chrome"></i>
        <h3>Web Development</h3>
        <p>Devloping a website from scratch</p>
      </div>
    </div>
    <div class="width-50">
      <div class="service-list">
        <i class="fa fa-instagram"></i>
        <h3>Web Design</h3>
        <p>Designing a website into eye pleasing.</p>
      </div>
    </div>
    </div>
    <div class="width-50">
      <div class="service-list">
        <i class="fa fa-video-camera"></i>
        <h3>Video Editing</h3>
        <p>Editing Video into your preference</p>
      </div>
    </div>
    <div class="width-50">
      <div class="service-list">
        <i class="fa fa-apple"></i>
        <h3>App Developing</h3>
        <p>Devloping an app from scratch</p>
      </div>
    </div>
  </div>
</div>
</body>